{% extends "base.html" %}
{% load static i18n wagtailadmin_tags wagtailcore_tags wagtailimages_tags %}

{% block header %}
<div class="page-header header-filter" data-parallax="true"
     {% image self.feed_image original as feed_image %}
     style="background-image: url({% if feed_image %}{{ feed_image.url }}{% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">{{ self.title }}</h1>
        {{ self.intro|richtext|truncatewords_html:35 }}
        </h4>
        <br>
        {% if self.more_button %}
        <a href="{{ self.more_button }}" target="_blank"
           class="btn btn-primary btn-raised btn-lg">
          register <i class="fa fa-user-plus fa-xs"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
</div>
{% endblock content %}
