{% load static i18n wagtailadmin_tags wagtailcore_tags %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
    user-scalable=0" name="viewport"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">
  <link rel="icon" href="{% static 'images/kit/free/favicon.png' %}">
  <title>
    WTM || {{ self.title }}
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{% static 'css/material-kit.min.css' %}?v=2.0.2">
</head>

<body class="landing-page ">
{% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="include/main_menu_dropdown.html" %}
{% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% block header %}
<div class="page-header header-filter" data-parallax="true"
     style=" background-image: url({% static 'images/kit/profile_city.jpg' %}); ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Your Story Starts With Us.</h1>
          <h4>
            Every landing page needs a small description after the big bold title,
            that&apos;s why we added this text here. Add here all the information
            that can make you or your product create the first impression.
          </h4>
          <br>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
             class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Watch video
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock header %}
<div class="main main-raised">
  {% block content %}
  {% endblock content %}
</div>
<footer class="footer text-white">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
           google
          </a>
        </li>
        <li>
          <a href="#">
            women techmakers
          </a>
        </li>
        <li>
          <a href="#">
            women techmakers phc
          </a>
        </li>
        <li>
          <a href="#">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      <script>
                    document.write(new Date().getFullYear())

      </script>
      , made with <i class="material-icons text-warning">favorite</i> by
      <a href="https://www.upwork.com/o/profiles/users/_~0121aa5e71359ca8d4/" target="_blank">
        <strong class="text-white title">Ighor Jesse</strong>
      </a>
    </div>
  </div>
</footer>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{% static 'js/plugins/moment.min.js' %}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/plugins/nouislider.min.js' %}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{% static 'js/material-kit.js' %}?v=2.0.2"></script>
</body>

</html>
